body {
  font-family: 'Inter', sans-serif;
  color: #2B283A;
}

/* --------------DestinationsLlist --------------- */
.all-destinations-container {
  padding: 20px;
}

/* --------------Destination----------------------- */
.location-logo-img {
  width: 7px;
  height: 10px;
  padding-right: 5px;
}

.destination-image {
  width: 125px;
  height: 170px;
  border-radius: 5px;
}

.country {
  /* font-weight: 400; */
}

a {
  color: #918E9B;
  padding-left: 10px;
}

.country-container {
  display: flex;
  font-size: 0.625rem;
  padding-top: 20px;
}

.country-info {
  padding-left: 20px;
  font-weight: 400;
}

h1,
h4 {
  font-weight: 700;
}

h1 {
  font-size: 1.5rem;
}

p {
  /* font-weight: 400; */
  font-size: 0.75rem;
}

.one-destination-container {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: start; */
  margin: 10px;
  border-bottom: 1px #F5F5F5 solid;
}

.all-destinations-container :last-child {
  border: none;
}

/* -----------Header---------------------- */

header img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F55A5A;
  height: 55px;
  color: white;
  font-weight: 500;
  font-size: 1rem;
}